<div class="form-group">
    <label for="<%= inputName %>"><%= fieldLabel %></label>
    <input class="form-control" type="text" name="<%= inputName %>" id="<%= inputName %>" value="<%= inputValue %>" readonly>
</div>